body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.space-between {
    height: 210px; /* Ajuste a altura conforme necessário */
  }

.chat-container {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chat-box {
    height: 300px;
    padding: 20px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.input-group {
    display: flex;
    padding: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    margin-bottom: 10px;
}

.message.user {
    text-align: right;
}

.message.bot {
    text-align: left;
}
